.container{
    max-width: 90%;
    margin: auto;
}
nav ul li a{
    text-decoration: none;

}
nav ul li{
    list-style: none;
}
.header{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header-right{
    flex-grow: 3;
    gap: 30px;
    display: flex;
    align-items: center;

}

.search-bar input{
    width: 300px;
    border-radius: 10px;
    line-height: 20px;
    border: none;
    background-color: #78788029;
    padding-left: 20px;
}
.search-input{
    position: relative;
}

.icon-search{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);

}

.icon-mic{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

}

.search-bar{
    display: flex;
    gap:10px;
}
.nav-icon ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icon ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigation li a{
    margin: 10px;
}

.icon-cart{
    color: red;
}

.icon-phone{
    color: red;
}

.icon-bell{
    color: red;
}

.icon-user{
    color: #CB30E0;
}
.icon-wifi{
    color:  green;
}
.icon-bar{
    color: #FD067D;
}
.icon-percent{
    color: #8B1965;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content p {
    text-align: center;
    width: 50%;
    font-size: 16px;
    margin: 0;
}

.hinh1{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.content img {
    width: 300px;
    height: 300px;
}

.footer ul li{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-1 nav {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  gap: 10px;
}

.column-1 a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.column-2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.column-2 i{
    width: 20px;
    margin-right: 10px;
}

.column-2 div{
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 10px;
}
.column-2 i{
    font-size: 15px;
}

.column-2 p{
    font-size: 15px;
    margin: 0;
}



